{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block header %}Авторизация{% endblock %}

{% block content %}
<form method="post" class="card card-body shadow-sm">
	<div class="mb-3">
		<label class="form-label">Логин</label>
		<input name="username" class="form-control" placeholder="Логин" required>
	</div>
	<div class="mb-3">
		<label class="form-label">Пароль</label>
		<input name="password" type="password" class="form-control" placeholder="Пароль" required>
	</div>
	<button type="submit" class="btn btn-primary w-100">Войти</button>
</form>
{% endblock %}